<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список пользователей</title>
    <link rel="stylesheet" href="/css/user-list-styles.css">
</head>
<body>
<h1>Пользователи</h1>
<a href="/users/new">Добавить пользователя</a>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Email</th>
        <th>Действия</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.email}"></td>
        <td>
            <a th:href="@{/users/{id}(id=${user.id})}">Просмотр</a> |
            <a th:href="@{/users/edit/{id}(id=${user.id})}">Редактировать</a> |
            <a th:href="@{/users/delete/{id}(id=${user.id})}">Удалить</a>
        </td>
    </tr>
</table>
</body>
</html>
